Marija_Bozic_Dan_57/Marija_Bozic_Dan_57/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50807/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50807/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50807/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllArticals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticals" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllArticals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticalsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateArtical_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArtical" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateArtical_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewArtical_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewArtical" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewArtical_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewArticalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArticalByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticalByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArticalByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticalByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticalToBill_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArticalToBill" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticalToBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArticalToBillResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBill_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBill" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBillResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CorectArticalQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:CorectArticalQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_CorectArticalQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CorectArticalQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllArticals">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllArticals" message="tns:IService1_GetAllArticals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllArticalsResponse" message="tns:IService1_GetAllArticals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArtical">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateArtical" message="tns:IService1_UpdateArtical_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateArticalResponse" message="tns:IService1_UpdateArtical_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewArtical">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewArtical" message="tns:IService1_AddNewArtical_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewArticalResponse" message="tns:IService1_AddNewArtical_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticalByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetArticalByName" message="tns:IService1_GetArticalByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetArticalByNameResponse" message="tns:IService1_GetArticalByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArticalToBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddArticalToBill" message="tns:IService1_AddArticalToBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddArticalToBillResponse" message="tns:IService1_AddArticalToBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBill" message="tns:IService1_CreateBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBillResponse" message="tns:IService1_CreateBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CorectArticalQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CorectArticalQuantity" message="tns:IService1_CorectArticalQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CorectArticalQuantityResponse" message="tns:IService1_CorectArticalQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckQuantity" message="tns:IService1_CheckQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckQuantityResponse" message="tns:IService1_CheckQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllArticals">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllArticals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArtical">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateArtical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewArtical">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewArtical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticalByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetArticalByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArticalToBill">
      <soap:operation soapAction="http://tempuri.org/IService1/AddArticalToBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBill">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorectArticalQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/CorectArticalQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50807/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>