Marija_Bozic_Dan_57/Marija_Bozic_Dan_57/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50807/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
  <xs:element name="GetAllArticals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetAllArticalsResult" nillable="true" type="q1:ArrayOfArtical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtical">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="artical" nillable="true" type="q2:Artical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewArtical">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="artical" nillable="true" type="q3:Artical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewArticalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticalByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticalByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="GetArticalByNameResult" nillable="true" type="q4:Artical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticalToBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="listOfArticals" nillable="true" type="q5:ArrayOfArtical" />
        <xs:element minOccurs="0" name="numberOfBill" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticalToBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="bill" nillable="true" type="q6:Bill" />
        <xs:element minOccurs="0" name="numberOfBill" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CorectArticalQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="listOfBuyArticals" nillable="true" type="q7:ArrayOfArtical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorectArticalQuantityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="artical" nillable="true" type="q8:Artical" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckQuantityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>